<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Início</a></li>
  <li><a href="{{ root_url }}/prointer">Prointer</a></li>
  <li><a href="{{ root_url }}/seguranca">Segurança</a></li>
  <li><a href="{{ root_url }}/aplicacoes">Aplicações</a></li>
  <li><a href="{{ root_url }}/infra">Infra</a></li>
  <li><a href="{{ root_url }}/bd">Banco de dados</a></li>
  <li><a href="http://github.com/nervosao/">Github</a></li>
  <li><a href="http://wiki.carlosveiga.com.br/foswiki/">Wiki</a></li>
</ul>

